/* Importing Font Externally */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Basic */
::after,
::before,
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


/* Colors required for the layout */
:root {
    --main-bg-color: #070707;
    --primary-color: #D2CFDF;
    --box-bg-color: #1E22D1;
    --box2-bg-color: #DF471E;
    --box3-color: #878edb;
}

/* main body layout */

.body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background-color: var(--main-bg-color);
    color: var(--primary-color);
    width: 100%;
}

#navBar {
    margin-bottom: 30px;
}

.navbarbrand {
    position: relative;
    margin-top: 9px;
    color: var(--primary-color);
    font-size: 18px;
}

.navlink {
    color: var(--primary-color);
    text-decoration: none;
}

.navlink:hover {
    text-decoration: underline;
    text-underline-offset: 15px;
    color: var(--primary-color)
}

#hero {
    margin-left: 50px;
    width: 100%;
}

h1.head {
    font-size: 54px;
    font-weight: 400;
    max-width: 600px;
    width: 100%;
    letter-spacing: -0.03px;
    font-style: normal;
    line-height: 68px;
    margin-bottom: 30px;
}

p.lead {
    max-width: 600px;
    width: 100%;
    margin-bottom: 30px;
    font-style: normal;
}

button.my_btn {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: transparent;
    border-radius: 30px;
    padding: 15px 45px;
    transition: ease-in-out .3s;
}

button.my_btn:hover {
    background-color: var(--primary-color);
    color: var(--main-bg-color);
    border: 1px solid transparent;
}

.box  {
    height: 355px;
    width: 100%;
    position: relative;
}

#box1 {
    background-color: var(--box-bg-color);
    border-top-left-radius: 20px;
}

#box2 {
    background-color: var(--box2-bg-color);
    border-top-right-radius: 20px;
}

#box3 {
    background-color: var(--primary-color);
    border-bottom-left-radius: 20px;
    color: var(--box3-color);
}

#box4 {
    background-color: var(--box3-color);
    border-bottom-right-radius: 20px;
}

.box_content {
    position: absolute;
    bottom: 0%;
}


h1.box_head {
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 100px;
    font-size: 40px;
}

.box_lead {
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    font-size: 14px;
}

.box_nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 25px;
}

.arrow_keyup {
    transform: rotate(-45deg);
    transition: ease-in-out .5s;
}

.arrow_keyup:hover {
    transform: rotate(360deg);
}

@media (max-width: 576px) {
    #hero {
        margin-left: 0px;
    }

    h1.head {
        font-size: 36px;
        line-height: 40px;
        font-weight: 300;
    }

    p.lead {
        font-size: 16px;
        max-width: 370px;
        width: 100%;
    }

    .box {
        height: 305px;
    }

    button.my_btn {
        display: none;
    }

    h1.box_head {
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 40px;
        font-size: 40px;
        font-size: 20px;
    }

}

@media screen only and (max-width: 768px) {
    
}













